body{
	
	background-size: 250px; 
	background-image:url(image/haut.png);
	background-position:center top;
	background-repeat: repeat-x;
	background-color: #333333;
	margin: 0%;
	width: 100%;
}
#logo{
	background-size: 10%;
	height: 200px;
	background-image: url(image/logo.png);
	background-position: center;
	background-repeat: no-repeat;
}
#nom{
	background-size: 230px;
	margin-left: 180px;
	margin-top:-140px;
	height: 70px;
	width:20%;
	background-image: url(image/Titre.png);
	background-position: left top;
	background-repeat: no-repeat;
}
#bordure{
	width: 15%;
	height: 1000px;
	float: right;
	margin-top:49px;
	background-color: #333333;
	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: #000000;
}
#connexion ul{
	width: 90%;
 	font-size: 18px;
	float:left; /*pour IE*/
}
 #connexion{
 	float:right;
	margin-right:-188px;
	margin-top:-79px;
 }
.zone1{
 	 display:inline;  
	 width:20%;
	 background-color:#0066FF;
	 text-align:center;
	 padding:2px 6px 2px 6px;
	 border-style:solid;
	 border-width:1px;
	 border-radius:5px;

 }
#artistes_salles ul{
	width: 90%;
 	font-size: 18px;
	float:right; /*pour IE*/
}
 #artistes_salles{
 	float:left;
	margin-left:150px;
	margin-top:-21px;
 }
 .boutons1{
 	 display:inline;  
	 width:20%;
	 background-color:darkred;
	 text-align:center;
	 padding:2px 6px 2px 6px;
	 border-style:solid;
	 border-width:1px;
	 border-radius:5px;
	 margin-right:110px;
 }

 #forum_concerts ul{
	width: 90%;
 	font-size: 18px;
	float:left; /*pour IE*/
}
 #forum_concerts{
 	float:right;
	margin-right:-180px;
	margin-top:-21px;
 }
  .boutons2{
 	 display:inline;  
	 width:20%;
	 background-color:darkred;
	 text-align:center;
	 padding:2px 6px 2px 6px;
	 border-style:solid;
	 border-width:1px;
	 border-radius:5px;
	 margin-right: 100px;
 }
 /*;
#connexion li:hover {
 background-color:#00665F;
 }*/
 
/*#boutons1 li:hover {
  background-color:red;
 }*/

/*#boutons2 li:hover {
  background-color:#00665F;
 }*/

 #drapeau{
 float:right;
 margin-top:-115px;
 margin-right:-390px;
 }

 #Suivre{
 	 display:inline;  
	 width:10%;
	 background-color:#0066FF;
	 text-align:center;
	 padding:2px 6px 2px 6px;
	 border-style:solid;
	 border-width:1px;
	 float:right;
	 margin-right:-383px;
	 margin-top:459px;
 }
 .reseaux{
 	 display:inline-block;  
	 width:10%;
	 background-color:grey;
	 text-align:center;
	 padding:2px 6px 2px 6px;
	 border-style:solid;
	 border-width:1px;
	 float:right;
	 margin-right:-383px;
	 margin-top:484px;
 }

 .reseauxsociaux{
 	float: left;
 	margin: 7px;
 	display: inline-block;
 }
 a{
 	 text-decoration:none;
 	 color:#FFFFFF;
 }
 