body{
	background-size: 250px; 
	background-image:url(image/haut.png);
	background-position:center top;
	background-repeat: repeat-x;
	background-color:#333333;
	margin:0;
}
header
{
	position :absolute ;
	top : 0px ;
	right : 0px ;
}
.particulier
{
	text-decoration : underline ;
}
.typeUtilisateur
{
	position : absolute ;
	top : 30% ;
	left : 0% ;
	color : white ;
	text-align : left ;
}
.formulaire
{
	position : absolute ;
	top : 40% ;
	left : 5% ;
	color : white ;
	text-align : justify ; 
}
label.standard
{
	display : block ;
	float : left ;
	width : 400px ;
	text-align : right ;

}
.standard
{
	display : block ;
	float : left ;
	width : 400px ;
	text-align : right ;

}
.details
{
	font-size : 0.8em ;
	text-align : center ;
}
.etoile
{
	color : red ;
}
.motDePasse
{
	display : block ;
	position : absolute ;
	left : 40% ;
}

