div.container1
{
width:47em;
border:0.3em solid;
background-color:#26266A;
border-color:red;
height:37em;
}
div.titre1
{
text-align:center;
margin-top:1em;
}

div.box1
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:5em;
border-top:0.3em solid black;
border-bottom:0.3em solid black;
text-align:center;
margin-top:1.5em;
background-color:#404040;
color:white;
line-height: 4em;
font-size: large;
}

div.container5
{
margin-top:-13em; 
width:26.55em;
border:0.3em solid;
background-color:#D2AE25;
border-color:black;
height:12.5em;
}
div.titre5
{
text-align:center;
margin-top:1em;
font-weight:bold;
}
div.box5
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:7.5em;
border-top:0.3em solid black;
border-bottom:0.3em solid black;
text-align:center;
margin-top:0.5em;
background-color:#404040;
}