.contenuAccueil{
	margin-top:150px;
}

div.container1
{
width:752px;
border:4px solid;
background-color:#26266A;
border-color:black;
height:592px;
}
div.titre1
{
text-align:center;
margin-top:16px;
}

div.box1
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:80px;
border-top:4px solid black;
border-bottom:4px solid black;
text-align:center;
margin-top:24px;
background-color:#404040;
color:white;
line-height: 64px;
font-size: large;
}

div.container2
{
margin-top:-600px;
width:400px;
border:4px solid;
background-color:#B62727;
border-color:black;
height:384px;
}
div.titre2
{
text-align:center;
margin-top:32px;
font-weight:bold;
}
div.box2
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:224px;
border-top:4px solid black;
border-bottom:4px solid black;
text-align:center;
margin-top:32px;
background-color:#404040;
}

div.container3
{
margin-top:-8px;
width:400px;
border:4px solid;
background-color:#0099FF;
border-color:black;
height:400px;
}
div.titre3
{
text-align:center;
margin-top:32px;
font-weight:bold;
}
div.box3
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:240px;
border-top:4px solid black;
border-bottom:4px solid black;
text-align:center;
margin-top:32px;
background-color:#404040;

}

div.container4
{
margin-top:-208px;
width:320px;
border:4px solid;
background-color:#0C874D;
border-color:black;
height:200px;
}
div.titre4
{
text-align:center;
margin-top:16px;
font-weight:bold;
}
div.box4
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:120px;
border-top:4px solid black;
border-bottom:4px solid black;
text-align:center;
margin-top:8px;
background-color:#404040;
}

div.container5
{
margin-top:-208px; 
width:427px;
border:4px solid;
background-color:#D2AE25;
border-color:black;
height:200px;
}
div.titre5
{
text-align:center;
margin-top:16px;
font-weight:bold;
}
div.box5
{
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
height:120px;
border-top:4px solid black;
border-bottom:4px solid black;
text-align:center;
margin-top:8px;
background-color:#404040;
}
.container2{
	/*margin-top: -30.5em;*/
	margin-left: 755px;
}
.container3{
	/*margin-top: -0.75em;*/
	margin-left: 755px;
}/*
.container4{
	margin-top: -20em;	
}
*/
.container5{
	/*margin-top: -20em;*/
	margin-left: 324px;
}

.photo{
	position: relative;
	top: 12px;
	right: -48px;
}

.box2 ol {
color: white;
text-align:left;
line-height: 40px;
}

.artistes{
	height: 40px;
	display: inline-block;
	position:relative; 
	top: 16px; 
	right:8px; 
	padding-left: 32px;
	padding-right: 32px;
}

.box3 ul {
color: transparent;
text-align:left;
line-height: 40px;
}
.new{
	height: 40px;
	display: inline-block;
	position:relative; 
	top: 16px; 
	right:8px; 
	padding-left: 32px;
	padding-right: 32px;	
}

.box4 ul {
	color: transparent;
	text-align:left;
	line-height: 16px;
}

#text{
	margin-top: -32px;
	margin-left:48px;
	text-align: left;
}
.concert{
	height: 40px;
	display: inline-block;
	position:relative; 
	top: 16px; 
	right:48px; 
	padding-left: 32px;
	padding-right: 32px;
}

.box5 ul {
color: transparent;
text-align:left;
line-height: 32px;
}

.coeur{
	height: 32px;
	display: inline-block;
	position:relative; 
	top: 8px; 
	right:8px; 
	padding-left: 32px;
	padding-right: 32px;	
}