body{
	background-size: 250px; 
	background-position:center top;
	/*background-color:grey;*/
	margin:0;
}

body{
	background-color:#FFFFFF;
	}

#ordrealpha{
	position : relative ;
	top : 30% ;
	left : 35% ;
	color : black ;
	margin-right:5px;
	text-decoration: underline;
	font-size:150%;
	background-color: none;

}	

div.cadre1
{
	width: 350px;
	height: 50px;
	border:0.3em solid;
	border-color: black;
	background-color: #DA9E06;
	margin-right: auto;
	margin-left: auto;
}

div.texte1{
	font-weight:bold;
	text-align: center;
}
#genre{
	position : relative ;
	top : 30% ;
	left : 40% ;
	color : black ;
	margin-right:5px;
	text-decoration: underline;
	font-size:150%;
	background-color: none;
}	



div.Tableau span {
	float: left;
	font-weight:bold;
    display:inline;
    border:3px solid;
    border-color: black;
    background-color: #DA9E06;
    padding:4.5px;
    width: 350px;
	height: 30px;
	text-align: center;
}

div.Tableau p {
	margin-left: 385px;

	clear: left;
    padding:0px;
    height:50% ; 
    height:0em;
}

#listecomplete{
	position : relative ;
	top : 30% ;
	left : 38% ;
	color : black ;
	margin-right:5px;
	text-decoration: underline;
	font-size:150%;
	background-color: none;
}
  
.Tableau span.col1 {
	width:150px;
}
.Tableau span.col2 {
	width:150px;
}
.Tableau span.col3 {
	width:150px;
}	

#liste1{
	display:inline-block;
	margin-right:25px;
	font-weight:bold;
	text-align: center;
	list-style-type: none; 
}
#liste2{
	display:inline-block;
	margin-right:25px;
	font-weight:bold;
	list-style-type: none; 
}
#liste3{
	display:inline-block;
	margin-right:25px;
	font-weight:bold;
	list-style-type: none; 
}
.artistes{
	text-align: center;
	font-size:110%;
}