/*.container1{
	margin-top: 15.7em;
}*/
.container2{
	/*margin-top: -30.5em;*/
	margin-left: 47.2em;
}
.container3{
	/*margin-top: -0.75em;*/
	margin-left: 47.2em;
}/*
.container4{
	margin-top: -20em;	
}
*/
.container5{
	/*margin-top: -20em;*/
	margin-left: 20.3em;
}

.photo{
	position: relative;
	top: 0.75em;
	right: -3em;
}

.box2 ol {
color: white;
text-align:left;
line-height: 2.5em;
}

.artistes{
	height: 2.5em;
	display: inline-block;
	position:relative; 
	top: 1em; 
	right:0.5em; 
	padding-left: 2em;
	padding-right: 2em;
}

.box3 ul {
color: transparent;
text-align:left;
line-height: 2.5em;
}
.new{
	height: 2.5em;
	display: inline-block;
	position:relative; 
	top: 1em; 
	right:0.5em; 
	padding-left: 2em;
	padding-right: 2em;	
}

.box4 ul {
color: transparent;
text-align:left;
line-height: 1em;
}

.concert{
	height: 2.5em;
	display: inline-block;
	position:relative; 
	top: -0.5em; 
	right:1.5em; 
	padding-left: 2em;
	padding-right: 2em;
}

.box5 ul {
color: transparent;
text-align:left;
line-height: 2em;
}

.coeur{
	height: 2em;
	display: inline-block;
	position:relative; 
	top: 0.5em; 
	right:0.5em; 
	padding-left: 2em;
	padding-right: 2em;	
}