.cadre{
	width: 84.5%;
	height: 930px;
	margin-top:121px;
	background-color:#333333;
	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-bottom-color:black;
	border-bottom-width:5px;
	border-top-width:5px;
}

.Actus{
	 margin-top:120px;
	 width:51.5%;
	 height: 630px;
	 background-color:#26266A;
	 text-align:center;
	/* padding:2px 6px 2px 6px;*/
	 border-style:solid;
	 border-width:7px;
	 /*float:left;*/
	 
}

.texte1{
	width: 99.7%;
	height: 87px;
	margin-top:100px;
	background-color:#2E2C2C;
	border-style: solid;
	border-top-width:7px;
	border-bottom-width:7px; 
	border-bottom-color:black;
}

.Top3{
	float: right;
	 margin-top:-640px;
	 margin-right: -3.3px;
	 width:32%;
	 height: 340px;
	 background-color:#B62727;
	 text-align:center;
	 /*padding:2px 6px 2px 6px;*/
	 border-style:solid;
	 border-width:5px;
	 /*float:left;*/
}

.texte2{
	width: 98.7%;
	height: 217px;
	margin-top:20px;
	background-color:#2E2C2C;
	border-style: solid;
	border-left-width: 2.5px;
	border-right-width: 3px;
	border-top-width:7px;
	border-bottom-width:7px; 
	border-bottom-color:black;
}


.Concerts{
	float: left;
	 margin-top:-5px;
	 margin-right: -3.3px;
	 width:30%;
	 height: 288px;
	 background-color:#0C874D;
	 text-align:center;
	 /*padding:2px 6px 2px 6px;*/
	 border-style:solid;
	 border-width:5px;
}

.texte3{
	width: 99.1%;
	height: 187px;
	margin-top:20px;
	background-color:#2E2C2C;
	border-style: solid;
	border-left-width: 2.5px;
	border-right-width: 2px;
	border-top-width:7px;
	border-bottom-width:7px; 
	border-bottom-color:black;
}


.Coeur{
	float: left;
	 margin-top:-5px;
	 margin-right: -3.3px;
	 width:36.4%;
	 height: 288px;
	 background-color:#D2AE25;
	 text-align:center;
	 /*padding:2px 6px 2px 6px;*/
	 border-style:solid;
	 border-width:5px;
}

.texte4{
	width: 99.9%;
	height: 187px;
	margin-top:20px;
	background-color:#2E2C2C;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 2px;
	border-top-width:7px;
	border-bottom-width:7px; 
	border-bottom-color:black;
}

.News{
	float: right;
	 margin-top:-295px;
	 margin-right: -2.3px;
	 width:31.5%;
	 height: 577px;
	 background-color:#0099FF;
	 text-align:center;
	 /*padding:2px 6px 2px 6px;*/
	 border-style:solid;
	 border-width:6px;
}

.texte5{
	width: 99.7%;
	height: 447px;
	margin-top:20px;
	background-color:#2E2C2C;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 3px;
	border-top-width:7px;
	border-bottom-width:7px; 
	border-bottom-color:black;
}

a{
 	 text-decoration:none;
 	 color:#FFFFFF;
 } 


.a2{
 	 text-decoration:none;
 	 color:white;
 	 line-height: 80px;
 	 font-size: x-large;
}
 
.a3{
 	 text-decoration:none;
 	 color:black;
 	 font-weight: bold;
 	 line-height: 35px;
}
